.menuListItem button {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
}

.menuListItem button:hover {
    color: #000;
    background: greenyellow;
}

.isActive {
    color: white;
    font-size: 15px;
    background-color: rgb(21, 71, 52, 0.6);
    box-shadow: 5px 5px #666;
}

@media (max-width: 600px) {
    .menuListItem {
        width: 100%;
        margin: 0 5px;
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .menuListItem {
        margin: 0 5px;
        opacity: 1;
    }
}
