* {
	margin: 0;
	padding: 0;
}

body {
    background-image: url("./images/homefarm_background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
