.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}

.table th {
    background-color: #808080;
    color: #fff;
    padding: .5em .8em;
}

.table td {
    padding: .2em .8em;
}

.table tr {
    color: #212121;
}

.table tbody tr:nth-child(odd) {
    background-color: #EAEAEA
}

table > thead > tr > th,
table > tbody > tr > td {
    padding: 0.500rem;
    vertical-align: middle;
}

@media (max-width: 899px){
    .table {
        width: 100%;
    }
    .table thead{
        display:none
    }
    .table tr{
        display:block;
        margin-bottom: 1.250rem;
        padding-bottom: 1.250rem;
        border-bottom: 1px solid #ddd!important;
    }
    .table td{
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        display:block;
        clear:both;
        width:100%!important;
        max-width:none!important;
        white-space:normal!important;
        text-align:right;
        border-top: 0!important;
        border-bottom: 1px solid #ddd!important;
    }
    .table td:before{
        content:attr(data-label);
        float:left;
        font-weight:700
    }
    .table td:last-child,
    .table tr:last-child {
        border-bottom: 0!important;
        margin-bottom: 0!important;
        padding-bottom: 0!important;
    }
}
