* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridContainer > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #EFEFEF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeSession {
    color: #fff;
    text-align: center;
    height: fit-content;
    color: red;
    text-decoration: none;
}

.closeSession:hover {
    color: lightblue;
    text-decoration: none;
}

.navbar {
    grid-area: navbar;
    background-color: #276E90;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #EFEFEF;
    opacity: 0.9;
}

.main {
    grid-area: main;
    background-color: #CECFC9;
    opacity: 0.9;
}

.footer {
    grid-area: footer;
    background-color: #0A3143;
    color: white;
    opacity: 0.9;
}

.gridContainer {
    min-height: 100vh;
    display: grid;
    gap: 10px;
    grid-template:
    "header"  70px
    "navbar"  50px
    "sidebar" max-content
    "main"    auto
    "footer"  50px;
}

.logoutImage {
    margin: 20px 0 0 0;
}

.logoutText {
    display:none;
}

.logoutImage:hover {
    opacity: 0.2;
}

.logoutImage:hover + .logoutText {
    position: absolute;
    display: block;
    margin-top: -50px;
    margin-right: -50px;
    color: #0A3143;
    font-weight: 900;
}

@media (min-width: 600px) {
    .gridContainer {
        grid-template:
        "header  header" 70px
        "navbar  navbar" 50px
        "sidebar main"   auto
        "footer  footer" 50px /
        300px    auto;
    }
}

@media (min-width: 900px) {
    .gridContainer {
        grid-template:
        "navbar  header  header"  70px
        "navbar  sidebar sidebar" max-content
        "navbar  main    main"    auto
        "navbar  footer  footer"  50px /
        200px    auto   auto;
    }
}
