.userFormContainer {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.avatarImg {
    max-width: 380px;
    width: 100%;
}

.userForm {
    max-width: 600px;
    min-width: 350px;
    padding: 20px 40px;
    box-sizing: border-box;
    background: rgb(255 255 255 / 11%);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    
    position: relative;
    margin: 0 auto;
}

.userForm h2 {
    margin: 10px 0 30px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "Muli Bold";
    text-shadow: 0 0 2px #000;
}

.userForm label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #0A3143;
}

.userForm input {
    width: 100%;
    margin-bottom: 20px;
}

.userForm input[type="password"],
.userForm input[type="email"],
.userForm input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.userForm input[type="submit"] {
    color: #FFF;
    font-size: 16px;
    background: #0A3143;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px 10px 10px;
}

.userForm input[type="submit"]:hover {
    background: #276E90;
    color: #EFEFEF;
}

.userForm a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.email, .pass {
    color: white;
    text-shadow: 2px 2px 8px #0A3143;
}

.email::placeholder, .pass::placeholder {
    color: white;
    opacity: 0.7;
    text-shadow: none;
}

@media (max-width: 400px) {
    .avatarImg {
        max-width: 320px;
    }
}

@media (max-width: 900px) {
    .avatarImg {
        max-width: 320px;
    }

    .userForm {
        max-width: 350px;
        min-width: 350px;
        padding: 20px 40px;
        box-sizing: border-box;
        background: rgb(255 255 255 / 11%);
        box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
        border-radius: 10px;

        position: relative;
        margin: 0 auto;
    }

    .userForm h2 {
        margin: 10px 0;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: "Muli Bold";
        text-shadow: 0 0 2px #000;
        font-size: 20px;
    }

    .userForm label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 10px #0A3143;
    }

    .userForm input {
        width: 100%;
        margin-bottom: 20px;
    }
}

.inputSinginContainer {
    display: none;
}

.admin {
    display: block;
}
